<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>乌龙茶</title>
    <style>
        body{margin: 0;padding:0;}
        .allcontent{width: 100%;min-width: 1200px;overflow: hidden; }
        .content{margin: 0 auto;position: relative;left: 50%;margin-left: -960px; }
        .xr_link{ width: 100%; height: 100%; position: relative; }
        .xr_link a{ position: absolute; }
        /* img */
        .xr_img{width: 100%;height: 100%; }
        .xr_img img{display: block; }
        .xr_link1{ width:990px; height: 400px;}
        .xr_link2{ width:345px; height: 440px;}
        .xr_link3_1{ width:322px; height: 275px;}
        .xr_link3_2{ width:248px; height: 114px;}
        .xr_link3{ width:322px; height: 386px;}
        .buy-btn{position: absolute; bottom:10px; right:15px;}
        .fixed-pic{width:153px; height:461px;position: fixed; top: 50%; left: 0; margin-top: -230px; display: none; background: url('//img4.zuipin.cn/img/cms/20170411xccx/fixed.png') no-repeat;}
        .fixed-pic a{position:absolute;width: 153px; height: 79px;}
    </style>
</head>
<body>
<div class="allcontent">
    <div class="content">
        <div class="xr_link">
            <!-- 链接 -->
            <a href="#" id="top"></a>
            <!--优惠券-->
            <a href="javascript:" style="width:220px;height:93px; top:747px;left:720px;" ></a>
            <a href="javascript:" style="width:220px;height:93px; top:747px;left:960px;" ></a>
            <a href="javascript:" style="width:220px;height:93px; top:747px;left:1197px;" ></a>
            
            <!-- 赠品 -->
            <a href="/goods?id=8681517" style="width:296px;height:362px; top:1057px;left:480px;" ></a>
            <a href="/goods?id=8684893" style="width:296px;height:362px; top:1057px;left:811px;" ></a>
            <a href="/goods?id=103781" style="width:296px;height:362px; top:1057px;left:1145px;" ></a>


            <!--夏日必备-->
            <a href="/goods?id=ZGLJ2600-100" style="width:1092px;height:437px; top:1569px;left:406px;" ></a>
            <a href="/goods?id=8684476" style="width:990px;height:420px; top:2093px;left:463px;" ></a>
            <a href="/goods?id=ZGBL2800-100" style="width:333px;height:422px; top:2564px;left:440px;" ></a>
            <a href="/goods?id=ZGQLJ3000-100" style="width:333px;height:422px; top:2564px;left:794px;" ></a>
            <a href="/goods?id=ZGAJ6800-50" style="width:333px;height:422px; top:2564px;left:1143px;" ></a>
            <a href="/goods?id=ZGGP1280-100" style="width:333px;height:422px; top:3043px;left:440px;" ></a>
            <a href="/goods?id=ZGHK1200-120" style="width:333px;height:422px; top:3043px;left:794px;" ></a>
            <a href="/goods?id=ZGNLJ1260-180" style="width:333px;height:422px; top:3043px;left:1143px;" ></a>
            

            <!--健康酷饮-->
            <a href="/goods?id=zrjm1580-250" style="width:1092px;height:437px; top:3687px;left:406px;" ></a>
            <a href="/goods?id=ZRDH9860-150" style="width:990px;height:420px; top:4211px;left:463px;" ></a>
            <a href="/goods?id=8684588" style="width:333px;height:422px; top:4685px;left:440px;" ></a>
            <a href="/goods?id=ZRJM0800-250" style="width:333px;height:422px; top:4685px;left:794px;" ></a>
            <a href="/goods?id=8684583" style="width:333px;height:422px; top:4685px;left:1143px;" ></a>
            <a href="/goods?id=8684494" style="width:333px;height:422px; top:5162px;left:440px;" ></a>
            <a href="/goods?id=ZRJM1200-120" style="width:333px;height:422px; top:5162px;left:794px;" ></a>
            <a href="/goods?id=ZRJM3300-250" style="width:333px;height:422px; top:5162px;left:1143px;" ></a>


            <!--冰镇刚需-->
            <a href="/goods?id=ZONGY0840-250" style="width:1092px;height:437px; top:5798px;left:406px;" ></a>
            <a href="/goods?id=8681133" style="width:990px;height:420px; top:6322px;left:463px;" ></a>
            <a href="/goods?id=ZOSX0700-296" style="width:333px;height:422px; top:6800px;left:440px;" ></a>
            <a href="/goods?id=8666440" style="width:333px;height:422px; top:6800px;left:794px;" ></a>
            <a href="/goods?id=ZODHP1680-250" style="width:333px;height:422px; top:6800px;left:1143px;" ></a>
            <a href="/goods?id=8666439" style="width:333px;height:422px; top:7275px;left:440px;" ></a>
            <a href="/goods?id=8684399" style="width:333px;height:422px; top:7275px;left:794px;" ></a>
            <a href="/goods?id=3120639122" style="width:333px;height:422px; top:7275px;left:1143px;" ></a>


            <!--其他精选-->
            <a href="/goods?id=8683257" style="width:1092px;height:437px; top:7914px;left:406px;" ></a>
            <a href="/goods?id=8684463" style="width:990px;height:420px; top:8441px;left:463px;" ></a>
            <a href="/goods?id=8684336" style="width:333px;height:422px; top:8915px;left:440px;" ></a>
            <a href="/goods?id=8684607" style="width:333px;height:422px; top:8915px;left:794px;" ></a>
            <a href="/goods?id=8684623" style="width:333px;height:422px; top:8915px;left:1143px;" ></a>
            <a href="/goods?id=8684038" style="width:333px;height:422px; top:9393px;left:440px;" ></a>
            <a href="/goods?id=8682368" style="width:333px;height:422px; top:9393px;left:794px;" ></a>
            <a href="/goods?id=8684598" style="width:333px;height:422px; top:9393px;left:1143px;" ></a>



            <!--锚点-->
            <a href="#" id="id1" style="top:1307px;left:463px;" ></a>
            <a href="#" id="id2" style="top:2943px;left:463px;" ></a>
            <a href="#" id="id3" style="top:4861px;left:479px;" ></a>
            <a href="#" id="id4" style="top:7095px;left:479px;" ></a>
            





            <a href="#top" style="width:213px;height:82px; top:9903px;left:849px;"></a>
            
        </div>
        <div class="xr_img">
            <!-- <img src="//img0.zuipin.cn/img/cms/20170929/hytg_01.png" alt="">
            <img src="//img1.zuipin.cn/img/cms/20170929/hytg_02.png" alt="">
            <img src="//img2.zuipin.cn/img/cms/20170929/hytg_03.png" alt="">
            <img src="//img3.zuipin.cn/img/cms/20170929/hytg_04.png" alt="">
            <img src="//img4.zuipin.cn/img/cms/20170929/hytg_05.png" alt="">
            <img src="//img0.zuipin.cn/img/cms/20170929/hytg_06.png" alt="">
            <img src="//img1.zuipin.cn/img/cms/20170929/hytg_07.png" alt="">
            <img src="//img2.zuipin.cn/img/cms/20170929/hytg_08.png" alt="">
            <img src="//img3.zuipin.cn/img/cms/20170929/hytg_09.png" alt="">
            <img src="//img4.zuipin.cn/img/cms/20170929/hytg_10.png" alt="">
            <img src="//img0.zuipin.cn/img/cms/20170929/hytg_11.png" alt="">
            <img src="//img1.zuipin.cn/img/cms/20170929/hytg_12.png" alt="">
            <img src="//img2.zuipin.cn/img/cms/20170929/hytg_13.png" alt="">
            <img src="//img3.zuipin.cn/img/cms/20170929/hytg_14.png" alt="">
            <img src="//img4.zuipin.cn/img/cms/20170929/hytg_15.png" alt="">
            <img src="//img0.zuipin.cn/img/cms/20170929/hytg_16.png" alt="">
            <img src="//img1.zuipin.cn/img/cms/20170929/hytg_17.png" alt="">
            <img src="//img2.zuipin.cn/img/cms/20170929/hytg_18.png" alt="">
            <img src="//img3.zuipin.cn/img/cms/20170929/hytg_19.png" alt="">
            <img src="//img4.zuipin.cn/img/cms/20170929/hytg_20.png" alt="">
            <img src="//img0.zuipin.cn/img/cms/20170929/hytg_21.png" alt="">
            <img src="//img1.zuipin.cn/img/cms/20170929/hytg_22.png" alt="">
            <img src="//img2.zuipin.cn/img/cms/20170929/hytg_23.png" alt="">
            <img src="//img3.zuipin.cn/img/cms/20170929/hytg_24.png" alt="">
            <img src="//img4.zuipin.cn/img/cms/20170929/hytg_25.png" alt="">
            <img src="//img0.zuipin.cn/img/cms/20170929/hytg_26.png" alt="">
            <img src="//img1.zuipin.cn/img/cms/20170929/hytg_27.png" alt="">
            <img src="//img2.zuipin.cn/img/cms/20170929/hytg_28.png" alt="">
            <img src="//img3.zuipin.cn/img/cms/20170929/hytg_29.png" alt="">
            <img src="//img4.zuipin.cn/img/cms/20170929/hytg_30.png" alt=""> -->
             <img src="./images/hytg_01.png" alt="">
            <img src="./images/hytg_02.png" alt="">
            <img src="./images/hytg_03.png" alt="">
            <img src="./images/hytg_04.png" alt="">
            <img src="./images/hytg_05.png" alt="">
            <img src="./images/hytg_06.png" alt="">
            <img src="./images/hytg_07.png" alt="">
            <img src="./images/hytg_08.png" alt="">
            <img src="./images/hytg_09.png" alt="">
            <img src="./images/hytg_10.png" alt="">
            <img src="./images/hytg_11.png" alt="">
            <img src="./images/hytg_12.png" alt="">
            <img src="./images/hytg_13.png" alt="">
            <img src="./images/hytg_14.png" alt="">
            <img src="./images/hytg_15.png" alt="">
            <img src="./images/hytg_16.png" alt="">
            <img src="./images/hytg_17.png" alt="">
            <img src="./images/hytg_18.png" alt="">
            <img src="./images/hytg_19.png" alt="">
            <img src="./images/hytg_20.png" alt="">
            <img src="./images/hytg_21.png" alt="">
            <img src="./images/hytg_22.png" alt="">
            <img src="./images/hytg_23.png" alt="">
            <img src="./images/hytg_24.png" alt="">
            <img src="./images/hytg_25.png" alt="">
            <img src="./images/hytg_26.png" alt="">
            <img src="./images/hytg_27.png" alt="">
            <img src="./images/hytg_28.png" alt="">
            <img src="./images/hytg_29.png" alt="">
            <img src="./images/hytg_30.png" alt=""> 
        </div>
    </div>
</div>
</body>
</html>
